.preview-img {
  width: 100%;
  height: auto;
}

.input-style{
  width: 100%;
}

.comment-profile {
  width:40px;
  height: 40px;
}

li {
  list-style: none;
}

.arrow-btn {
  height: 25px;
  width: 25px;
}