* {
  box-sizing: border-box;
}

.App {
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.logo-font {
  font-family: 'Pacifico', cursive;
}

.home-style{
  background-image: url('./images/background-man.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  background-position: center;
}

.home-image{
  width: 90%;
  height: 90%;
  opacity:0.7;
}

.home-image:hover {
  opacity:1.0;
}

.login-style{
  width: 100%;
  background-image: url('./images/camera-wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:6%;
  height: 100vh;
}

.reg-style{
  width: 100%;
  background-image: url('./images/table.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:6%;
  height: 100vh;
}

.form-bg {
  opacity: 0.9;
}

.form-content {
  color: black;
  margin:5%;
}

.welcome-bg {
  background-image: url('./images/welcome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  padding-top: 15%;
  height:93vh;
}

.dashboard-profile:hover {
  opacity: 0.7;
}

.profile-preview {
  width: 100px;
  height: 90px;
}

.dashboard-post-list {
  height: 100vh;
  overflow: scroll;
}

.dashboard-user-list {
  height: 50vh;
  overflow: scroll;
}

.post-profile {
  width: 40px;
  height: 40px;
}

.post-profile:hover {
  opacity: 0.7;
}

.album-profile {
  width: 50px;
  height: 50px;
}

.album-profile:hover {
  opacity: 0.7;
}

.img-container {
  max-width: 33.33%;
  display: inline-block;
}

.user-img-style {
  object-fit: cover;
  width: 100%;
  height: auto;

}

.upload-btn {
  background:none;
  border:none;
}

.upload-btn:hover{
  opacity: 0.7;
}

.close-btn {
  background:none;
  border:none;
}

.close-btn:hover{
  opacity: 0.7;
}

.close-icon {
  width: 20px;
  height: 20px;
}

.open-modal-btn {
  width: 35px;
  height: 35px;
}

.preview-img {
  width: 50%;
  height: auto;
}